<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @poeet,remote: true , url: choose_new_or_edit)  do |form| %>
      <% if @poeet.errors.any? %>
        <div id="error_explanation">
          <h2><%= @poeet.errors.count %>件のエラーがあります。</h2>
   
          <ul>
            <% @poeet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">New message</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <%# <div class="poeet_content"> %>
      <div class="form-group field">
        <%= form.label :content %>
        <%= form.text_field :content %>
      </div>
    </div>
    <div class="modal-footer actions">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit %>
    </div>
    <% end %>
  </div>
</div>

<%# <%= link_to "ポイート一覧に戻る", poeets_path %> %>